.btn:hover {
    background: black;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 1.9rem;
    
    &:hover {
        background-color: blue;
    }
    
}

