.btn {
    background-color: @btn-bg-color;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.9rem;
    color: white;
    text-align: center;

    .btn:hover {
        background-color: blue;
        width: 100px;
        padding: 10px;
        border-radius: 5px;
        font-size: 1.9rem;
        color: white;
        text-align: center;

        &:hover {
            background-color: blue;
        }
    }
}
