.navigation {
    
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: @wild-sand;
        padding: 30px;
        
        h1 {
            font-size: 4rem;
            
            .nav {
                
                }
                
            }
        }
    }
}